<!DOCTYPE html>
<html>
<head>
<meta charset="EUC-KR">
<title>Customer Detail</title>

<link
	href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css"
	th:href="@{/webjars/bootstrap/3.3.5/css/bootstrap.min.css}"
	rel="stylesheet" media="screen" />

<script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"
	th:href="@{/webjars/jquery/2.1.4/jquery.min.css}"></script>

<link href="../static/css/spring-core.css"
	th:href="@{css/spring-core.css}" rel="stylesheet" media="screen" />

</head>
<body>
	<div class="container">
		<div class="row">
			<div class="col-sm-6">
				<h2>Customer Detail</h2>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-8">
				<form class="form-horizontal">
					<div class="form-group">
						<label class="col-sm-2 control-label">Customer Id:</label>
						<div class="col-sm-10">
							<p class="form-control-static" th:text="${customer.id}">Customer
								Id</p>
						</div>
					</div>

					<div class="form-group">
						<label class="col-sm-2 control-label">Name:</label>
						<div class="col-sm-10">
							<p class="form-control-static" th:text="${customer.name}">Customer
								Name</p>
						</div>
					</div>

					<div class="form-group">
						<label class="col-sm-2 control-label">Address:</label>
						<div class="col-sm-10">
							<p class="form-control-static" th:text="${customer.address}">Customer
								Address</p>
						</div>
					</div>

					<div class="form-group">
						<label class="col-sm-2 control-label">Contact No:</label>
						<div class="col-sm-10">
							<p class="form-control-static" th:text="${customer.contact}">Customer
								Contact</p>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label"></label>
						<div class="col-sm-10">
							<a th:href="${'/customers'}">Back</a>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>

</body>
</html>